@model List<DAL.Produto>
@{
    ViewData["Title"] = "Index";
}

<h1>Listando Produtos (@Model.Count)</h1>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-3">
            <a href="@Url.Action("Detail", "Product", new { Id = product.Id })">
                <img src="@product.Image" />
                @product.Name
            </a>
        </div>
    }
</div>


